.example-spacer {
  flex: 1 1 auto;
}

.logoContainer {
  height: 100%;
  border-right: 0.3rem solid grey;
  border-radius: 30%;
  padding-right: 0.75rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.logoContainer:active {
  transition: all 0.1s ease-in-out;
  border-right: none;
  padding-left:  0.3rem;
}

.example-icon {
  margin: 0 0.5rem;
}

.logo {
  object-fit: contain;
  height: 100%;
}

.navBtn {
  cursor: pointer;
}

.navBtn:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.navBtn:active {
  font-size: 0.95rem;
}