<mat-toolbar color="accent" class="header">
    <span class="logoContainer" (click)="navigateToHomeWithSound()"><img src="../../../assets/logo.png" alt="ridersspot logo" class="logo"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"  (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
    </button>
    <div *ngIf="!isLoggedIn" >
      <span (click)="navigateToLogin()" class="navBtn">Login</span>
      <span> / </span>
      <span (click)="navigateToRegister()" class="navBtn">SignUp</span>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" *ngIf="isLoggedIn"> 
        <mat-icon>person_pin</mat-icon>
    </button>
</mat-toolbar>