<div class="container">
    <div class="image">
        <img src="../../../assets/register.jpeg" alt="Bike image">
    </div>

    <div class="form-box">
        <form class="form">
            <span class="title">Signup</span>
            <span class="subtitle">Use your email to register for free.</span>
            <div class="form-container">
                    <input type="text" class="input" placeholder="Full Name">
                    <input type="email" class="input" placeholder="Email">
                    <input type="password" class="input" placeholder="Password">
            </div>
            <button>Signup</button>
        </form>
        <div class="form-section">
          <p>Already have an account? <a routerLink="/login">Login</a> </p>
        </div>
    </div>
</div>