<div class="container">
    <div class="image">
        <img src="../../../assets/login.jpeg" alt="Bike image">
    </div>

    <div class="form-box">
        <form class="form">
            <span class="title">Login</span>
            <span class="subtitle">Use your registered email and password.</span>
            <div class="form-container">
                    <input type="email" class="input" placeholder="Email">
                    <input type="password" class="input" placeholder="Password">
            </div>
            <button>Login</button>
        </form>
        <div class="form-section">
          <p>Don't have an account yet?  <a routerLink="/register">Signup</a> </p>
        </div>
    </div>
</div>