.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
}

.content p {
    width: 80%;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: overline underline;
    text-underline-offset: 0.4rem;
}

.heading {
    width: 80%;
}

.heading::before {
    content: '';
    float: left;
    border: 0.2rem solid orange;
    height: 7.5rem;
    margin-right: 1rem;
}

.content h1 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: left;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 50%;
    height: auto;
}

.image img {
    width: 70%;
}

.buttonContainer {
    width: 80%;
}

.registerButton {
    padding: 0.75rem 1rem;
    border: 0;
    background-color: orange;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: large;
    align-self: flex-start;
    font-weight: bold;
    cursor: pointer;
}

.registerButton:active {
    scale: 0.96;
    transition: all 0.1s ease-in-out;
}

@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        width: 80%;
    }

    .image img {
        width: 80%;
    }

    .content {
        width: 80%;
    }
  }