<div class="container">
    <div class="content">
        <div class="heading">
            <h1>Bike</h1>
            <h1>Rental</h1>
            <h1>System</h1>
        </div>
        <p>Unlock Your Adventure: Pedal into Possibilities with Our Premier Bike Rental Platform! Discover your city on two wheels, hassle-free.</p>

        <div class="buttonContainer">
            <button class="registerButton">
                Register now
            </button>
        </div>
    </div>

    <div class="image">
        <img src="../../../assets/bike.png" alt="Bike image">
    </div>
</div>